<div class="container">
  <div class="row fetch-collection-section" data-ng-show="!header">
    <div class="col-md-12">
      <h1 class="hero">Territory Wars <span>- organize your SWGOH characters</span></h1>
      <p>Enter your <a href="https://swgoh.gg/">swgoh.gg</a> username to fetch your heros. If you don't have an account with them yet please go create one.</p>
    </div>
    <div class="form-group col-md-10">
      <input type="text" class="form-control" data-ng-model="currentUser" placeholder="User Name..."/>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary col-md-12" data-ng-click="getHeroCollection()">Get Heros</button>
    </div>
  </div>

  <div class="row collection-section" data-ng-show="header">
    <h1  class="text-center text-capitalize">{{ currentUser }}'s Characters</h1>

    <div class="col-md-6 collection-container">
      <h2 class="text-center">Characters</h2>
      <div class="clearfix" data-dropZone="collection" drop-container on-drag-enter="onDragEnter($event, $dragData)" on-drag-over="onDragOver($event, $dragData)" on-drag-start="onDragStart($event, $dragData)" on-drag-leave="onDragLeave($event, $dragData)" on-drop="onDrop($event, $dragData)">

        <div class="custom-5-col" data-ng-repeat="item in collection | orderBy: '-galacticPower'" drag-container="true" drag-data="item" on-drag-start="onDragStart($event, $dragData)" on-drag-end="onDragEnd($event, $dragData)">

          <div class="collection-char collection-char-light-side">

            <div class="player-char-portrait char-portrait-full char-portrait-full-gear-t{{item.gearLevel}}">
              <img class="char-portrait-full-img" src="http:{{ item.imageSrc }}" />
              <div class="char-portrait-full-gear"></div>
              <div class="star star1" data-ng-class="{ 'star-inactive' : item.star < 1 }"></div>
              <div class="star star2" data-ng-class="{ 'star-inactive' : item.star < 2 }"></div>
              <div class="star star3" data-ng-class="{ 'star-inactive' : item.star < 3 }"></div>
              <div class="star star4" data-ng-class="{ 'star-inactive' : item.star < 4 }"></div>
              <div class="star star5" data-ng-class="{ 'star-inactive' : item.star < 5 }"></div>
              <div class="star star6" data-ng-class="{ 'star-inactive' : item.star < 6 }"></div>
              <div class="star star7" data-ng-class="{ 'star-inactive' : item.star < 7 }"></div>
              <div class="char-portrait-full-level">{{ item.level }}</div>
              <div class="char-portrait-full-gear-level"></div>
            </div>

            <div class="collection-char-gp-progress">
              <div class="collection-char-gp-progress-bar" style="width: {{ percent(item.galacticPower, item.maxGalacticPower) }}%;"></div>
            </div>

            <div class="collection-char-gp-label">
              <span class="collection-char-gp-label-value">{{ percent(item.galacticPower, item.maxGalacticPower) }}</span>
              <span class="collection-char-gp-label-percent">%</span>
            </div>

            <div class="collection-char-name">
              <p class="collection-char-name-link"> {{ item.description }} </p>
              <p class="collection-char-galactic-power-text"> GP: {{ item.galacticPower }} </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6 team-container">
      <div class="row">
        <h2 class="teams-header">Teams <span class="s7-add-user" ng-show="!showTeamInput" ng-click="showTeamInput = true"></span></h2>
        <div class="add-team-box" ng-show="showTeamInput">
          <input type="text" class="col-md-10" ng-show="showTeamInput" ng-model="team.name" />
          <button ng-click="addTeam()">Add</button>
        </div>
      </div>

      <div ng-repeat="t in teams">
        <div data-ng-show="!t.updateName">
          <h4 class="team-name text-center" ng-click="t.updateName = !t.updateName">{{ t.name }} - GP: {{ t.galacticPower() }}</h4>
          <span class="s7-trash trash" data-ng-click="removeTeam(t)"></span>
        </div>

        <div class="update-team-box" data-ng-show="t.updateName">
          <input type="text" data-ng-model="t.name">
          <button ng-click="t.updateName = !t.updateName">Update</button>
        </div>

        <div class="drop-zone"
        data-dropZone="{{ t.name }}"
        drop-container
        drop-accepts="dropAccept($event, $dragData)"
        on-drag-enter="onDragEnter($event, $dragData)"
        on-drag-over="onDragOver($event, $dragData)"
        on-drag-leave="onDragLeave($event, $dragData)"
        on-drop="onDrop($event, $dragData)">

          <div class="custom-5-col" data-ng-repeat="c in t.characters" drag-container="true" drag-data="c" on-drag-start="onDragStart($event, $dragData)" on-drag-end="onDragEnd($event, $dragData)">
            <div class="collection-char collection-char-light-side">

              <div class="player-char-portrait char-portrait-full char-portrait-full-gear-t{{c.gearLevel}}">
                <img class="char-portrait-full-img" src="http:{{ c.imageSrc }}" />
                <div class="char-portrait-full-gear"></div>
                <div class="star star1" data-ng-class="{ 'star-inactive' : c.star < 1 }"></div>
                <div class="star star2" data-ng-class="{ 'star-inactive' : c.star < 2 }"></div>
                <div class="star star3" data-ng-class="{ 'star-inactive' : c.star < 3 }"></div>
                <div class="star star4" data-ng-class="{ 'star-inactive' : c.star < 4 }"></div>
                <div class="star star5" data-ng-class="{ 'star-inactive' : c.star < 5 }"></div>
                <div class="star star6" data-ng-class="{ 'star-inactive' : c.star < 6 }"></div>
                <div class="star star7" data-ng-class="{ 'star-inactive' : c.star < 7 }"></div>
                <div class="char-portrait-full-level">{{ c.level }}</div>
                <div class="char-portrait-full-gear-level"></div>
              </div>

              <div class="collection-char-gp-progress">
                <div class="collection-char-gp-progress-bar" style="width: {{ percent(c.galacticPower, c.maxGalacticPower) }}%;"></div>
              </div>

              <div class="collection-char-gp-label">
                <span class="collection-char-gp-label-value">{{ percent(c.galacticPower, c.maxGalacticPower) }}</span>
                <span class="collection-char-gp-label-percent">%</span>
              </div>

              <div class="collection-char-name">
                <p class="collection-char-name-link"> {{ c.description }} </p>
                <p class="collection-char-galactic-power-text"> GP: {{ c.galacticPower }} </p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
