<div class="container">
  <div class="row">
    <h1 class="text-center text-capitalize">{{ currentUser }}'s Characters</h1>

    <div data-ng-repeat="item in collection" data-ng-show="item.type == 'character'" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <div class="collection-char collection-char-light-side">

        <div class="player-char-portrait char-portrait-full char-portrait-full-gear-t{{item.gearLevel}}">
          <img class="char-portrait-full-img" src="https:{{ item.imageSrc }}" />
          <div class="char-portrait-full-gear"></div>
          <div class="star star1" data-ng-class="{ 'star-inactive' : item.star < 1 }"></div>
          <div class="star star2" data-ng-class="{ 'star-inactive' : item.star < 2 }"></div>
          <div class="star star3" data-ng-class="{ 'star-inactive' : item.star < 3 }"></div>
          <div class="star star4" data-ng-class="{ 'star-inactive' : item.star < 4 }"></div>
          <div class="star star5" data-ng-class="{ 'star-inactive' : item.star < 5 }"></div>
          <div class="star star6" data-ng-class="{ 'star-inactive' : item.star < 6 }"></div>
          <div class="star star7" data-ng-class="{ 'star-inactive' : item.star < 7 }"></div>
          <div class="char-portrait-full-level">{{ item.level }}</div>
          <div class="char-portrait-full-gear-level"></div>
        </div>

        <div class="collection-char-gp-progress">
          <div class="collection-char-gp-progress-bar" style="width: {{ percent(item.galacticPower, item.maxGalacticPower) }}%;"></div>
        </div>

        <div class="collection-char-gp-label">
          <span class="collection-char-gp-label-value">{{ percent(item.galacticPower, item.maxGalacticPower) }}</span>
          <span class="collection-char-gp-label-percent">%</span>
        </div>

        <div class="collection-char-name">
          <p class="collection-char-name-link"> {{ item.description }} </p>
          <p class="collection-char-galactic-power-text"> GP: {{ item.galacticPower }} </p>
        </div>
      </div>

    </div>
  </div>

</div>
